.contents_all{
    position: relative;
}

.contents_background>img{
    width: 100%;
    display: block;
}

.contents_txt{
    padding-left: 45px;
    padding-top: 200px;
    position: absolute;
}

.contents_txt1{
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 30px;
}

.contents_txt2{
    color: white;
    font-size: 50px;
    padding-top: 30px;
}
.movinggif>img{
    width: 48%;
    left: 45%;
    margin-top: 200px;
    border-radius: 10px;
    position: absolute;
    box-shadow: 20px 20px 10px 5px rgba(0,0,0,0.2);
}


/*콘텐츠 강조 영역*/
.second-screen_emphasis,
.third-screen_emphasis,
.fourth-screen_emphasis{
    background-color: white;
    padding: 0px 12px;
    font-weight: 600;
}
.second-screen_emphasis{
    color: #00b7bc;
}
.third-screen_emphasis{
    color: #058dec;
}
.fourth-screen_emphasis{
    color: #454ccd;
}










