.main_first-image1>img{
    z-index: 9997;
    position: absolute;
    width: 45%;
    left: 550px;
    top: 100px;
}
.main_first-image2>img{
    position: relative;
    width: 100%;
    margin-top: 84px;
    display: block;
}


.main_first-1{
    position: absolute;
    z-index: 9998;
    margin-top: 250px;
    margin-left: 40px;
}

.main_first-1>h3{
    font-size: 63px;
    letter-spacing: 3px;
    line-height: 120%;
}

.main_first-1>p{
    font-size: 34px;
    padding: 20px 0px;
}

.main_first-1>p>span,
.main_first-1>h3>span{
    color: var(--wcolor);
}



