.main-third{
    margin-top: 211px;
}

.thirdbg>img{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}


.third-contents{
    display: flex;
    position: absolute;
}

.pointhird{
    color: #058dec;
    background-color: white;
}
